


.red-square {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);     
    position: absolute;
    top: 300px;
    left: 100px;
}
.white-square {
    width: 40px;
    height: 100px;
    background-color: white; 
    border-radius: 10%;       
    position: absolute;
    top: 350px;
    left: 180px;
}
.white-square2 {
    width: 100px;
    height: 40px;
    background-color: white; 
    border-radius: 5%;       
    position: absolute;
    top: 380px;
    left: 150px;
}




.red-square2 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0); 
    position: relative;  
    margin: 140px 0 0 400px; 
}


.white-square3 {
    width: 40px;
    height: 100px;
    background-color: white; 
    border-radius: 5%; 
    position: absolute; 
    top: 25%; 
    left: 40%; 
    
}

.square12 { transform: rotate(0deg)   translate(0px); }
.square22 { transform: rotate(90deg)  translate(0px); }





